.post__container {
    max-width: 100%;
    width: min(470px, 100vw);
    flex-direction: column;
    display: flex;
    justify-content: flex-start;
}

.post__main {
    margin-bottom: 20px;
    padding-bottom: 16px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;

    &__spaceBetween {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 0 12px 4px
    }
    &__container {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        width: 100%;
    }

    &__img {
        width: calc(-2px + min(470px, 100vw));
        border-radius: 4px;
        border: 1px solid rgb(219, 219, 219);
    }

    &__description {
        height: 100%;
        display: flex;
        flex-direction: column;
        position: relative;

        &__container {
            margin: 4px 0;
            display: flex;
            align-items: center;
            width: 470px;
            height: 40px;
            flex-direction: row;
            justify-content: space-between;

            &__save {
                font-size: 24px;
                position: absolute;
                right: 0;
            }
        }
    }
}

.iconPost {
    font-size: 24px;
    padding: 8px;
    cursor: pointer;
    transition: 0.4s;
}

.iconPost:hover {
    font-size: 27px;
    transition: 0.4s;
}